.buy-product-title {
  font-size: 16px;
  margin-top: 15%;
  margin-bottom: -10%;
}

.close-buy-product {
  margin: 5%;
  margin-top: 20%;
  border: 5%;
}

.buy-product {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: baseline;
}

.form_buy-product {
  margin-top: -15%;
  margin-left: 30%;
  align-self: center;
  flex: 1;
}

.buy-btn {
  flex: 2;
  margin: 5%;
  margin-left: 20%;
}
